Repository MyongjiWay/MyongjiWay-Server, pull requests merged in 2024-07, with the labels that each got.

#5 [TEST]: JWT 관련 테스트 코드 작성
  .gitignore
  build.gradle.kts
  core/core-api/src/main/kotlin/com/myongjiway/core/api/support/error/ErrorCode.kt
  core/core-api/src/main/kotlin/com/myongjiway/core/api/support/error/ErrorType.kt
  core/core-api/src/main/kotlin/com/myongjiway/core/auth/security/config/JwtSecurityConfig.kt
  core/core-api/src/main/kotlin/com/myongjiway/core/auth/security/config/SecurityConfig.kt
  core/core-api/src/main/kotlin/com/myongjiway/core/auth/security/jwt/JwtFilter.kt
  core/core-api/src/main/kotlin/com/myongjiway/core/auth/security/jwt/JwtProvider.kt
  core/core-api/src/test/kotlin/com/myongjiway/core/auth/security/jwt/JwtProviderTest.kt
  core/core-api/src/test/kotlin/com/myongjiway/token/TokenTypeTest.kt
  core/core-domain/build.gradle.kts
Labels: test

#8 [FEAT]: User Domain 초기 구성 및 Test 코드 작성
  build.gradle.kts
  core/core-api/src/main/kotlin/com/myongjiway/core/auth/security/jwt/JwtProvider.kt
  core/core-api/src/test/kotlin/com/myongjiway/core/auth/security/jwt/JwtProviderTest.kt
  core/core-domain/src/main/kotlin/com/myongjiway/user/ProviderType.kt
  core/core-domain/src/main/kotlin/com/myongjiway/user/Role.kt
  core/core-domain/src/main/kotlin/com/myongjiway/user/User.kt
  core/core-domain/src/main/kotlin/com/myongjiway/user/UserRepository.kt
  storage/db-core/build.gradle.kts
  storage/db-core/src/main/kotlin/com/myongjiway/storage/db/core/user/UserCoreRepository.kt
  storage/db-core/src/main/kotlin/com/myongjiway/storage/db/core/user/UserEntity.kt
  storage/db-core/src/main/kotlin/com/myongjiway/storage/db/core/user/UserJpaRepository.kt
  storage/db-core/src/test/kotlin/com/myongjiway/storage/db/core/user/UserCoreRepositoryTest.kt
  storage/db-core/src/test/kotlin/com/myongjiway/storage/db/core/user/UserEntityProxy.kt
Labels: feature, test

#13 [FEAT]: Core-Domain, Core-Api 모듈 공통 exception 설정
  core/core-api/src/main/kotlin/com/myongjiway/core/api/support/error/ErrorCode.kt
  core/core-api/src/main/kotlin/com/myongjiway/core/api/support/error/ErrorType.kt
  core/core-domain/src/main/kotlin/com/myongjiway/error/CoreErrorCode.kt
  core/core-domain/src/main/kotlin/com/myongjiway/error/CoreErrorKind.kt
  core/core-domain/src/main/kotlin/com/myongjiway/error/CoreErrorLevel.kt
  core/core-domain/src/main/kotlin/com/myongjiway/error/CoreErrorType.kt
  core/core-domain/src/main/kotlin/com/myongjiway/error/CoreException.kt
Labels: feature

#18 [FEAT] MQTT 설정 및 연동 테스트
  .gitignore
  clients/client-mqtt/build.gradle.kts
  clients/client-mqtt/src/main/kotlin/com/myongjiway/client/mqtt/config/MqttClientConfig.kt
  clients/client-mqtt/src/main/kotlin/com/myongjiway/client/mqtt/util/AwsIotUtil.kt
  clients/client-mqtt/src/main/kotlin/com/myongjiway/client/mqtt/util/PrivateKeyReader.kt
  core/core-api/build.gradle.kts
  settings.gradle.kts
Labels: feature

#20 [FEAT] 버스 위치 정보 저장
  clients/client-mqtt/build.gradle.kts
  clients/client-mqtt/src/main/kotlin/com/myongjiway/client/mqtt/config/MqttClientConfig.kt
  clients/client-mqtt/src/main/kotlin/com/myongjiway/client/mqtt/config/MqttTopic.kt
  clients/client-mqtt/src/main/kotlin/com/myongjiway/client/mqtt/util/AwsIotUtil.kt
  clients/client-mqtt/src/main/kotlin/com/myongjiway/client/mqtt/util/PrivateKeyReader.kt
  core/core-domain/src/main/kotlin/com/myongjiway/domain/buslocation/BusLocation.kt
  core/core-domain/src/main/kotlin/com/myongjiway/domain/buslocation/BusLocationService.kt
  core/core-domain/src/test/kotlin/com/myongjiway/domain/buslocation/BusLocationTest.kt
Labels: feature, test

#16 [FEAT]: Spring REST Docs를 사용한 API 문서화 가이드 및 예제 추가
  build.gradle.kts
  core/core-api/build.gradle.kts
  core/core-api/src/docs/asciidoc/index.adoc
  core/core-api/src/docs/asciidoc/test.adoc
  core/core-api/src/main/kotlin/com/myongjiway/core/test/DocsTestController.kt
  core/core-api/src/main/kotlin/com/myongjiway/core/test/v1/ExampleRequest.kt
  core/core-api/src/main/kotlin/com/myongjiway/core/test/v1/ExampleResponse.kt
  tests/api-docs/build.gradle.kts
Labels: feature, docs

#21 [FEAT]: 카카오 Unlink API 연동
  clients/client-kakao/build.gradle.kts
  clients/client-kakao/src/main/kotlin/com/myongjiway/client/kakao/ExampleApi.kt
  clients/client-kakao/src/main/kotlin/com/myongjiway/client/kakao/ExampleClient.kt
  clients/client-kakao/src/main/kotlin/com/myongjiway/client/kakao/ExampleConfig.kt
  clients/client-kakao/src/main/kotlin/com/myongjiway/client/kakao/ExampleRequestDto.kt
  clients/client-kakao/src/main/kotlin/com/myongjiway/client/kakao/ExampleResponseDto.kt
  clients/client-kakao/src/main/kotlin/com/myongjiway/client/kakao/KakaoApi.kt
  clients/client-kakao/src/main/kotlin/com/myongjiway/client/kakao/KakaoClient.kt
  clients/client-kakao/src/main/kotlin/com/myongjiway/client/kakao/KakaoUnlinkRequest.kt
  clients/client-kakao/src/main/kotlin/com/myongjiway/client/kakao/KakaoUnlinkResponse.kt
  clients/client-kakao/src/main/kotlin/com/myongjiway/client/kakao/RestClientConfig.kt
  clients/client-kakao/src/main/kotlin/com/myongjiway/client/kakao/model/ExampleClientResult.kt
  clients/client-kakao/src/main/kotlin/com/myongjiway/client/kakao/model/KakaoUnlinkResult.kt
  clients/client-kakao/src/test/kotlin/com/myongjiway/client/ClientKakaoContextTest.kt
  clients/client-kakao/src/test/kotlin/com/myongjiway/client/ClientKakaoTestApplication.kt
  clients/client-kakao/src/test/kotlin/com/myongjiway/client/kakao/ExampleClientTest.kt
  clients/client-kakao/src/test/kotlin/com/myongjiway/client/kakao/KakaoClientTest.kt
Labels: feature

#24 [FEAT] CICD를 구성한다.
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .gitignore
  DockerFile
  clients/client-kakao/src/main/resources/client-kakao.yml
  clients/client-kakao/src/test/resources/application.yml
  clients/client-mqtt/src/main/kotlin/com/myongjiway/client/mqtt/config/MqttClientConfig.kt
  clients/client-mqtt/src/main/resources/client-mqtt.yml
  core/core-api/src/main/resources/application.yml
  core/core-api/src/main/resources/static/docs/index 3.html
  core/core-api/src/main/resources/static/docs/index.html
  core/core-api/src/test/kotlin/com/myongjiway/CoreApiApplicationTest.kt
  storage/db-core/src/main/resources/db-core.yml
  support/logging/src/main/resources/logging.yml
  support/monitoring/src/main/resources/monitoring.yml
Labels: feature, docs

#26 [FIX] implement cicd setup
  .github/workflows/cd.yml
Labels: fix

#28 [FIX] CD 플로우 수정 (#23)
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  DockerFile
  Dockerfile
  core/core-api/src/main/resources/static/docs/index 3.html
Labels: fix
